<div class="todo">
  <section class="todoapp">
    <header class="header">
      <h1>todos</h1>
      <form class="todo-form" ng-submit="$ctrl.addTodo()">
        <input
          class="new-todo"
          placeholder="What needs to be done?"
          ng-model="$ctrl.newTodo"
          ng-disabled="$ctrl.saving"
          autofocus
        >
      </form>
    </header>
    <section class="main" ng-show="$ctrl.todos.length" ng-cloak>
      <input
        id="toggle-all"
        class="toggle-all"
        type="checkbox"
        ng-model="$ctrl.allChecked"
        ng-click="$ctrl.markAll($ctrl.allChecked)"
      >
      <label for="toggle-all">Mark all as complete</label>
      <todo-list
        ng-if="$ctrl.store"
        status="$ctrl.status"
        store="$ctrl.store"
        on-toggle-completed="$ctrl.toggleCompleted(todo, completed)"
      >
      </todo-list>
    </section>
    <nav-footer
      todos="$ctrl.todos"
      status="$ctrl.status"
      remaining-count="$ctrl.remainingCount"
      completed-count="$ctrl.completedCount"
      on-clear-completed="$ctrl.clearCompletedTodos()"
    >
    </nav-footer>
  </section>
  <info-footer></info-footer>
</div>
